<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResumeMaker"
        tools:targetApi="31">
        <activity
            android:name=".resume_1"
            android:exported="false" />
        <activity
            android:name=".projects_details"
            android:exported="false" />
        <activity
            android:name=".skill_details"
            android:exported="false" />
        <activity
            android:name=".Hobbies_details"
            android:exported="false" />
        <activity
            android:name=".work_history"
            android:exported="false" />
        <activity
            android:name=".Education_Details"
            android:exported="false" />
        <activity
            android:name=".Personal_Details"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>